/**
 * Open Sans
 * Digitized data copyright 2010-2011 Google Corporation
 * Apache License 2.0
 * http://www.apache.org/licenses/LICENSE-2.0.html
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'), url('../fonts/opensans-regular-1.10.woff2') format('woff2'), url('../fonts/opensans-regular-1.10.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans-bold-1.10.woff2') format('woff2'), url('../fonts/opensans-bold-1.10.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensans-italic-1.10.woff2') format('woff2'), url('../fonts/opensans-italic-1.10.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensans-bolditalic-1.10.woff2') format('woff2'), url('../fonts/opensans-bolditalic-1.10.woff') format('woff');
}
