<header>
    <div class="super"><a class="logo" title="{{ document.project }} Home" href="{{ document.project-url }}"><img src="{{ base.relpath }}assets/images/icon.png" srcset="{{ base.relpath }}assets/images/icon.png 1x, {{ base.relpath }}assets/images/icon@2x.png 2x, {{ base.relpath }}assets/images/icon@3x.png 3x" alt="{{ document.project }} icon" /></a><a class="title" title="Documentation Home" href="{{ base.relpath }}">{{ document.project }} Documentation</a></div>
    {{ template.nav }}
</header>
