<!DOCTYPE html>
<html lang="{{ document.language-code }}">
<head>
    <meta charset="{{ document.text-encoding }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ meta.authors }}" />
    <title>{{ document.project }} Documentation &mdash; {{ document.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ base.relpath }}style/style.css" />
</head>
<body>
<article class="docs">
{{ template.header }}
{{ document.content }}
{{ template.footer }}
</article>
</body>
</html>
