<!DOCTYPE html>
<html lang=\"{{ meta.language-code }}\">
<head>
    <meta charset=\"{{ meta.text-encoding }}\" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ meta.authors }}" />
    <!--<meta name="description" content="" />-->
    <!--<meta name="keywords" content="" />-->
    <title>{{ meta.project }} Documentation - {{ meta.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ base.relpath }}style/style.css" />
</head>
<body>
<article class="docs">
<header>
    <div class="breadcrumbs">{{ meta.language }} Docs > {{ meta.project }} {{ meta.project-version }} > {{ meta.title }}</div>
</header>
{{ document.content }}
<footer>
    <p><span class="authorship">This article is part of the <a href="{{ base.relpath }}" title="{{ meta.project }} Documentation">{{ meta.project }} Documentation</a> and was written by {{ meta.authors }}.</span> <span class="contributing">Join us on GitHub to contribute your thoughts and ideas, and to suggest any necessary corrections.</span></p>
    <small class="copyright">Copyright {{ meta.copyright }}. Licensed under the <a href="{{ meta.license-url }}" title="License Summary">{{ meta.license }}</a>.</small>
</footer>
</article>
</body>
</html>
