<footer>
    <p><span class="authorship">This article is part of the <a href="{{ base.relpath }}" title="{{ document.project }} Documentation">{{ document.project }} Documentation</a> and was written by {{ document.authors }}.</span> <span class="contributing"><a href="https://github.com/HandBrake/HandBrake-docs" title="HandBrake Documentation on GitHub">Join us on GitHub</a> to contribute your thoughts and ideas, and to suggest any corrections.</span></p>
    <small class="copyright">Copyright {{ document.copyright }}. <a href="{{ base.relpath }}license-summary.html" title="License Summary"><abbr title="{{ document.license }}">{{ document.license-abbr }}</abbr></a>.</small>
</footer>
