<footer>
    <p><span class="authorship">This article is part of the <a href="{{ base.relpath }}" title="{{ meta.project }} Documentation">{{ meta.project }} Documentation</a> and was written by {{ meta.authors }}.</span> <span class="contributing">Join us on GitHub to contribute your thoughts and ideas, and to suggest any necessary corrections.</span></p>
    <small class="copyright">Copyright {{ meta.copyright }}. <a href="{{ base.relpath }}license-summary.html" title="License Summary"><abbr title="{{ meta.license }}">{{ meta.license-abbr }}</abbr></a>.</small>
</footer>
