/**
 * Ropa Sans
 * Copyright 2011 Botjo Nikoltchev <nikoltchev@lettersoup.de>
 * SIL Open Font License 1.1
 * http://scripts.sil.org/OFL
 */
@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Ropa Sans'), local('RopaSans-Regular'), url('../fonts/ropasans-regular-1.002.woff2') format('woff2'), url('../fonts/ropasans-regular-1.002.woff') format('woff'), url('../fonts/ropasans-regular-1.002.ttf') format('truetype');
}
@font-face {
  font-family: 'Ropa Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Ropa Sans Italic'), local('RopaSans-Italic'), url('../fonts/ropasans-italic-1.002.woff2') format('woff2'), url('../fonts/ropasans-italic-1.002.woff') format('woff'), url('../fonts/ropasans-italic-1.002.ttf') format('truetype');
}

/**
 * Open Sans
 * Digitized data copyright 2010-2011 Google Corporation
 * Apache License 2.0
 * http://www.apache.org/licenses/LICENSE-2.0.html
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'), url('../fonts/opensans-regular-1.10.woff2') format('woff2'), url('../fonts/opensans-regular-1.10.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans'), local('OpenSans-Bold'), url('../fonts/opensans-bold-1.10.woff2') format('woff2'), url('../fonts/opensans-bold-1.10.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensans-italic-1.10.woff2') format('woff2'), url('../fonts/opensans-italic-1.10.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensans-bolditalic-1.10.woff2') format('woff2'), url('../fonts/opensans-bolditalic-1.10.woff') format('woff');
}

article.docs {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 90%;
    font-family: 'Open Sans', -apple-system-body, 'Helvetica Neue', Helvetica, 'Droid Sans', Roboto, sans-serif;
    font-size: 0.9375rem;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.66666;
}

article.docs h1,
article.docs h2,
article.docs h3,
article.docs h4,
article.docs h5,
article.docs h6 {
    font-family: 'Ropa Sans', -apple-system-headline, 'Lucida Grande', 'Droid Sans', Roboto, sans-serif;
    font-weight: 400;
    color: rgb(60,60,60);
}

article.docs h1 {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -0.035em;
}

article.docs h2 {
    font-size: 1.75rem;
    line-height: 1.07143;
    letter-spacing: -0.025em;
}

article.docs h3 {
    font-size: 1.3125rem;
    line-height: 1.190476;
    text-transform: uppercase;
    letter-spacing: -0.018em;
}

article.docs h4 {
    font-size: 1.1875rem;
    line-height: 1.05263;
    letter-spacing: -0.02em;
}

article.docs h5 {
    font-size: 1.0625rem;
    line-height: 1.17647;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

article.docs h6 {
    font-size: 0.875rem;
    line-height: 1.07143;
    text-transform: uppercase;
    letter-spacing: -0.005em;
}

article.docs header .breadcrumbs {
    font-size: 0.75rem;
}

article.docs footer p {
    font-style: italic;
}

article.docs p,
article.docs > ol,
article.docs > ul,
article.docs header .breadcrumbs,
article.docs footer p,
article.docs footer small {
    margin: 1.33333em 0;
}

article.docs figure {
    display: block;
    margin: 1.33333em auto;
    width: 100%;
}

article.docs figure img {
    max-width: 100%;
}

article.docs figcaption {
    padding-top: 4px;
    border-top: 1px solid rgb(240,240,240);
    font-size: 0.6875rem;
    line-height: 1.36364;
    color: rgb(120,120,120);
}

.featherlight .featherlight-content {
    border-radius: 3px;
}

/* Wider than 390 */
@media (min-width: 390px) {

}

/* Wider than 550 */
@media (min-width: 550px) {
    article.docs figure {
        width: 80%;
    }
}

/* Wider than 750 */
@media (min-width: 750px) {
    article.docs {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 600px;
    }

    article.docs figure {
        display: inline-block;
        margin: 1.33333em 0;
        position: relative;
        left: -5%;
        max-width: 42%;
        vertical-align: top;
    }

    article.docs figure + figure {
        margin-left: 3%;
    }

    article.docs figure img {
        max-width: 100%;
    }
}

/* Wider than 1000 */
@media (min-width: 1000px) {
    article.docs {
        padding-left: 120px;
        padding-right: 120px;
        max-width: 680px;
    }

    article.docs figure {
        left: -10%;
        max-width: 45%;
    }

    article.docs figure + figure {
        margin-left: 5%;
    }
}

/* @2x */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}

/* @3x */
@media (-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi) {

}