body {
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
}

article.docs {
    margin: 0 auto;
    padding: 1.875rem 15px;
    max-width: 90%;
    background-color: transparent;
    color: rgb(20,20,20);
    font-family: 'Open Sans', -apple-system-body, 'Helvetica Neue', Helvetica, 'Droid Sans', Roboto, sans-serif;
    font-size: 0.9375rem;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.66666;
}

article.docs .hidden {
    display: none;
}

article.docs a,
article.docs a:visited {
    color: rgb(67,149,191);
}

article.docs a:hover {
    color: rgb(100,178,212);;
}

article.docs a:active {
    color: orange;
}

article.docs header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0), rgb(255,255,255) 30px);
}

article.docs header + h1 {
    margin-top: 6.75rem;
}

article.docs nav {
    margin: 0 auto;
    padding: 15px 15px 45px;
    width: 90%;
    font-size: 0.6875rem;
}

article.docs nav .breadcrumbs {
    margin: 1em 0 0;
}

.license article.docs nav .breadcrumbs .language-separator,
.license article.docs nav .breadcrumbs .language,
.license article.docs nav .breadcrumbs .version-separator,
.license article.docs nav .breadcrumbs .version {
    display: none;
}

article.docs nav .system-select,
article.docs nav .system-select li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

article.docs nav .system-select li {
    display: inline-block;
    margin: .166666em .25rem;
    padding: .25em .5rem;
    color: white;
    background-color: skyblue;
    cursor: pointer;
}

article.docs nav .system-select li:first-child {
    margin-left: .75em;
}

article.docs nav .system-select li:hover {
    background-color: rebeccapurple;
}

article.docs nav .system-select li.selected {
    font-weight: 700;
    background-color: orange;
}

article.docs nav .navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 15px;
    width: 275px;
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
}

article.docs nav .navigation h1 {
    display: none;
}

article.docs nav .navigation h2 {
    margin: 0;
    padding: 3px 10px;
    background-color: skyblue;
    color: white;
    font-family: 'Open Sans', -apple-system, 'Helvetica Neue', Helvetica, 'Droid Sans', Roboto, sans-serif;
    font-size: 0.875rem;
    line-height: 1.42857;
    text-transform: uppercase;
    cursor: pointer;
}

.js article.docs nav .navigation h2:before {
    content: "+ "
}

article.docs nav .navigation h2.selected {
    background-color: orange;
    cursor: default;
}

article.docs nav .navigation h2.selected:before {
    content: ""
}

article.docs nav .navigation ul {
    margin: 0;
    padding: 6px 10px;
    background-color: rgb(252,252,255);
    font-size: 0.875rem;
    line-height: 1.42857;
}

.js article.docs nav .navigation > ul {
    display: none;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

article.docs nav .navigation li {
    padding-left: 0;
    list-style-type: none;
}

article.docs nav .navigation li > a.selected {
    color: rgb(20,20,20);
    font-style: italic;
    text-decoration: none;
    cursor: default;
}

article.docs nav .navigation li > em {
    display: none;
}

article.docs nav .navigation li > ul {
    padding-left: 15px;
}

article.docs h1,
article.docs h2,
article.docs h3,
article.docs h4,
article.docs h5,
article.docs h6 {
    font-family: 'Ropa Sans', -apple-system-headline, 'Lucida Grande', 'Droid Sans', Roboto, sans-serif;
    font-weight: 400;
    color: rgb(60,60,60);
}

article.docs h1 {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -0.035em;
}

article.docs h2 {
    font-size: 1.75rem;
    line-height: 1.07143;
    letter-spacing: -0.025em;
}

article.docs h3 {
    font-size: 1.3125rem;
    line-height: 1.190476;
    letter-spacing: -0.022em;
}

article.docs h4 {
    font-size: 1.1875rem;
    line-height: 1.05263;
    letter-spacing: -0.02em;
}

article.docs h5 {
    font-size: 1.0625rem;
    line-height: 1.17647;
    letter-spacing: -0.01em;
}

article.docs h6 {
    font-size: 0.875rem;
    line-height: 1.07143;
    text-transform: uppercase;
    letter-spacing: -0.005em;
}

.license article.docs footer {
    display: none;
}

article.docs footer p,
article.docs footer small {
    font-size: 0.75rem;
}

article.docs footer p {
    font-style: italic;
}

article.docs p,
article.docs ol,
article.docs ul,
article.docs footer p,
article.docs footer small {
    margin: 1.33333em 0;
}

article.docs figure {
    position: relative;
    left: -3%;
    display: block;
    margin: 1.33333em auto;
    width: 106%;
}

article.docs figure img {
    max-width: 100%;
}

article.docs figcaption {
    margin-bottom: -1px;
    padding-top: 0.454545em;
    border-top: 1px solid rgb(232,232,232);
    font-size: 0.6875rem;
    line-height: 1.36364;
    color: rgb(120,120,120);
}

article.docs .footnotes {
    font-size: .875rem;
}

.featherlight .featherlight-content {
    border-radius: 3px;
}

/* Wider than 350 */
@media (min-width: 350px) {
    article.docs nav {
        font-size: 0.75rem;
    }
}

/* Wider than 390 */
@media (min-width: 390px) {

}

/* Wider than 550 */
@media (min-width: 550px) {
    article.docs figure {
        left: 0;
        width: 82%;
    }

    article.docs footer p,
    article.docs footer small {
        font-size: 0.875rem;
    }
}

/* Wider than 750 */
@media (min-width: 750px) {
    article.docs {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 580px;
    }

    article.docs header + h1 {
        margin-top: 7.5rem;
    }

    article.docs nav {
        padding: 20px 50px 45px;
        width: 580px;
    }

    article.docs nav .breadcrumbs {
        margin-top: 1.33333em;
    }

    article.docs figure {
        display: inline-block;
        margin: 1.33333em 0;
        position: relative;
        left: -5%;
        width: auto;
        max-width: 42%;
        vertical-align: top;
    }

    article.docs figure + figure {
        margin-left: 3%;
    }

    article.docs figure img {
        max-height: 240px;
    }

}

/* Wider than 1000, taller than 550 */
@media (min-width: 1000px) and (min-height: 550px) {
    article.docs {
        padding-left: 100px;
        padding-right: 100px;
        max-width: 680px;
    }

    article.docs header + h1 {
        margin-top: 8.75rem;
    }

    article.docs nav {
        padding: 30px 100px 60px;
        width: 680px;
    }

    article.docs figure {
        max-width: 45%;
    }

    article.docs figure + figure {
        margin-left: 5%;
    }

    article.docs figure img {
        max-height: 320px;
    }

}

/* Wider than 1200, taller than 600 */
@media (min-width: 1200px) and (min-height: 600px) {
    article.docs {
        max-width: 760px;
        font-size: 1.125rem;
    }

    .js:not(.license) article.docs {
        position: relative;
        padding-left: 350px;
        padding-right: 50px;
    }

    article.docs nav {
        width: 760px;
        font-size: 0.9rem;
    }

    .js:not(.license) article.docs nav {
        position: relative;
        padding-left: 350px;
        padding-right: 50px;
    }

    .js:not(.license) article.docs nav .navigation {
        display: block;
    }

    article.docs header + h1 {
        margin-top: 10.5rem;
    }

    article.docs h1 {
        font-size: 3rem;
        letter-spacing: -0.04em;
    }

    article.docs h2 {
        font-size: 2.1rem;
        letter-spacing: -0.03em;
    }

    article.docs h3 {
        font-size: 1.575rem;
        letter-spacing: -0.023em;
    }

    article.docs h4 {
        font-size: 1.425rem;
        letter-spacing: -0.022em;
    }

    article.docs h5 {
        font-size: 1.275rem;
        letter-spacing: -0.021em;
    }

    article.docs h6 {
        font-size: 1.05rem;
        text-transform: uppercase;
        letter-spacing: -0.009em;
    }

    article.docs figcaption {
        font-size: 0.825rem;
    }

    article.docs .footnotes {
        font-size: 1.05rem;
    }

    article.docs footer p,
    article.docs footer small {
        font-size: 1.05rem;
    }

    article.docs figure img {
        max-height: 384px;
    }
}

/* Shorter than 550 */
@media (max-height: 549px) {
    article.docs header + h1 {
        margin-top: 6.25rem;
    }

    article.docs figure img {
        max-height: 300px;
    }
}

/* Shorter than 450 */
@media (max-height: 449px) {
    article.docs header {
        background: linear-gradient(0deg, rgba(255,255,255,0), rgb(255,255,255) 15px);
    }

    article.docs header + h1 {
        margin-top: 5rem;
    }

    article.docs nav {
        padding: 10px 15px 25px;
    }

    article.docs nav .breadcrumbs {
        margin-top: 0.5em;
        font-size: 0.625rem;
    }

    article.docs figure img {
        max-height: 220px;
    }
}

/* Shorter than 350 */
@media (max-height: 349px) {
    article.docs figure img {
        max-height: 160px;
    }
}

/* @2x */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}

/* @3x */
@media (-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi) {

}